{% extends 'layout.html' %}
{% load static %}

{% block head %}
Books
{% endblock %}

{% block body %}
<h2>Books</h2>
<div class="series-list">
    <div class="filter-option vert">

        <form action="{% url 'all_books' %}" method="POST" id="filter-form" class="filter-form hori">
            {% csrf_token %}
            <input type="text" name="pagenum" value="{{ pagenum }}" id="pagenum" class="hidden">
            <div class="hori">
                <label for="series">Series</label>
                <select name="series" id="series-filter" style="width:12rem;">
                    <option value="" selected></option>
                    {% for series in series_list %}
                    <option value="{{ series.id }}">{{ series.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="hori">
                <label for="world">World</label>
                <select name="world" id="world-filter" style="width:12rem;">
                    <option value="" selected></option>
                    {% for world in worlds %}
                    <option value="{{ world }}">{{ world }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="button" id="submit-filter" class="btn btn-primary btn-sm">Filter</button>
        </form>

    </div>
</div>

<div id="selected-series" class="selected-series vert center hidden">
    <div class="hori center" style="align-items: baseline;">
        <label style="font-size: large;" for="series-name">Series:</label>
        <h5 id="series-name"></h5>
    </div>
    <p id="series-description"></p>
</div>

<div id="selected-world" class="selected-world hori center hidden">
    <label style="font-size: large;" for="world-name">World:</label>
    <h5 id="world-name"></h5>
</div>

<h5 id="error-message" class="hidden center"></h5>

<div id="clear-filter" class="center hidden">
    <form action="{% url 'all_books' %}" method="POST" id="clear-filter-form">
        {% csrf_token %}
        <input type="text" name="pagenum" value="1" class="hidden">
        <button type="button" id="clear-filter-btn" class="link-btn">CLEAR FILTER</button>
    </form>
</div>

<p id="stop-scrolling" class="hidden">False</p>

<button id="return-to-top" class="btn btn-primary btn-sm return-btn hidden">Return to top</button>

<div id="booklist-container" class="booklist vert container">
    {% for book in books %}
        <div class="book-listing hori" {% if book.on_sale %} class="on-sale-now" {% endif %}>
            <div class="vert image-div">
                <picture>
                    <source srcset="{% static book.image %}_small.avif" type="img/avif">
                    <source srcset="{% static book.image %}_small.jpg" type="img/jpg">
                    <a href="{% url 'book' book.id %}"><img src="{% static book.image %}_small.avif" alt="{{ book.title }} Cover" class="small-img"></a>
                </picture>
            </div>
            <div class="vert">
                {% if book.on_sale == True %}
                    <h5>On Sale Now!</h5>
                {% endif %}
                <p><a href="{% url 'book' book.id %}">{{ book.title }}</a></p>
                <p>Published {{ book.date_released|date:"M d, Y" }}</p>
                <div class="hori">
                    <label for="book-series-{{ book.title }}">Series:</label>
                    <p id="book-series-{{ book.title }}">{{ book.series.name }}</p>
                </div>
                <div class="hori">
                    <label for="book-world-{{ book.title }}">World:</label>
                    <p id="book-world-{{ book.title }}">{{ book.world }}</p>
                </div>
                <div>
                    <label for="book-synopsis-{{ book.id }}">Synopsis:</label>
                    <p id="book-synopsis-{{ book.id }}" class="synopsis">{{ book.synopsis }}</p>
                    <button type="button" class="link-btn more-btn">See more</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<script type="text/javascript">
    document.addEventListener("scroll", infiniteScroll);
    document.addEventListener("scroll", topButtonScroll);
    document.getElementById("submit-filter").addEventListener("click", displayFilters);
    document.getElementById("clear-filter-btn").addEventListener("click", clearFilters);
    document.querySelectorAll(".more-btn").forEach((button) => {
        button.addEventListener("click", showMore);
    });
    //document.addEventListener("DOMContentLoaded", topButtonScroll);
    document.getElementById("return-to-top").addEventListener("click", returnToTop);
</script>


{% endblock %}