{% extends 'layout.html' %}

{% block head %}
Books
{% endblock %}

{% block body %}
<h2>All Books</h2>
<div class="series-list">
    <ul class="dropdown">
        <!-- selecting a series initiates a POST request via AJAX -->
        {% for series in series_list %}
            <li>
                <form action="{% url 'all_books' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="series-name" id="id-{{ series.name }}" value="{{ series.name }}" hidden>
                    <button type="button" value="{{ series.name }}">
                </form>
            </li>
        {% endfor %}
    </ul>
</div>

{% if selected_series != "" %}
    <div class="series">
        <h4>Series: {{ selected_series.name }}</h4>
        <p>{{ selected_series.description }}Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, ipsa. Quo totam similique nesciunt iste voluptates vero recusandae? Maxime officia asperiores ad quo nesciunt temporibus beatae eos doloremque unde deleniti!</p>
    </div>
{% endif %}

<div class="booklist vert container">
    {% for book in books %}
        <div class="book_listing hori">
            <div class="vert">
                <img src="" alt="{{ book.title }} Cover">
                <p><a href="{% url 'book' book.id %}">{{ book.title }}</a></p>
                <p>Published {{ book.publish_date }}</p>
            </div>
            <div class="vert">
                <div class="hori">
                    <label for="book-series">Series:</label>
                    <p id="book-series-{{ book.title }}">{{ book.series }}</p>
                </div>
                <div class="hori">
                    <label for="book-world">World:</label>
                    <p id="book-world-{{ book.title }}">{{ book.world }}</p>
                </div>
                <div class="hori">
                    <label for="book-synopsis">Synopsis:</label>
                    <p id="book-synopsis">{{ book.synopsis }} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit illum
                        cum...<button id="see-more-{{ book.id }}" type="button">See more</button></p>
                    <!-- only show first 100 characters, trail off, see more via JS -->
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}