{% extends 'layout.html' %}

{% block head %}
{{ book.title }}
{% endblock %}

{% block body %}
<h2>Book Title {{ book.title }}</h2>
<div class="listing hori">
    <div class="vert">
        <img src="" alt="{{ book.title }}">
    </div>
    <div class="vert">
        <a href="{{ book.amazon_link }}" target="_blank" rel="noreferrer noopener">Purchase on Amazon</a>
            
        {% if user.is_authenticated %}
            <form action="{% url 'add' book.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="page" value="book-page" class="hidden">
                {% if wishlist == "" %}
                    <button type="submit" class="wish-btn">Add to wishlist</button>
                {% else %}
                    <p>This book is in your wishlist</p>
                    <button type="submit" class="wish-btn">Remove from wishlist</button>
                {% endif %}
                <!-- use AJAX to show 'Remove from wishlist'/'Add to wishlist' when form submitted -->
            </form>
        {% endif %}

        <p>Published {{ book.date_released }}</p>
        
        <div class="hori">
            <label for="book-series">Series:</label>
            <p id="book-series">{{ book.series.name }}</p>
        </div>
        {% if user.is_authenticated %}
            <form action="{% url 'follow' book.series.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="page" value="book-page" class="hidden">
                <input type="text" name="book" value="{{ book.id }}" class="hidden">
                {% if following == "" %}
                    <button type="submit" class="follow-btn">Follow Series</button>
                {% else %}
                    <p>You are following this series</p>
                    <button type="submit" class="follow-btn">Unfollow Series</button>
                {% endif %}
                <!-- use AJAX to show 'Unfollow series'/'Follow series' when form submitted -->
            </form>
        {% endif %}
        
        <div class="hori">
            <label for="book-world">World:</label>
            <p id="book-world">{{ book.world }}</p>
        </div>

        <div class="hori">
            <label for="book-synopsis">Synopsis:</label>
            <p id="book-synopsis">{{ book.synopsis }}
            </p>
        </div>
    </div>
</div>
{% endblock %}