{% extends 'layout.html' %}

{% block head %}
Contact
{% endblock %}

{% block body %}
<h2 class="page-title">CONTACT</h2>
<div class="main-content social-media-contact vert">
    <h4>Follow along on social media</h4>
    <ul class="social-media">
        <li>
            <div class="hori">
                <i class="fab fa-facebook-square"></i>
                <a href="https://www.facebook.com/Ian-Rodgers-Author-Page-1305156149529437" target="_blank" rel="noreferrer noopener">Facebook</a>
            </div>
        </li>
        <li>
            <div class="hori">
                <i class="fab fa-twitter-square"></i>
                <a href="https://twitter.com/erafore" target="_blank" rel="noreferrer noopener">Twitter</a>
            </div>
        </li>
    </ul>
    <h4>Questions? Comments? Business Propositions?</h4>
    <ul class="social-media">
        <li>
            <div class="hori">
                <i class="fas fa-envelope"></i>
                <p id="email-address">EraforeLLCDev@gmail.com</p>
                <!-- <button class="btn btn-sm btn-primary copy-btn"><i class="fas fa-clipboard"></i><span class="tooltip-text">Copy Email to Clipboard</span></button> -->
            </div>
        </li>
    </ul>
</div>

<!-- <script type="text/javascript">
    document.querySelector(".copy-btn").addEventListener("click", copyText);
</script> -->

{% endblock %}