{% extends 'layout.html' %}

{% block head %}
Home
{% endblock %}

{% block body %}
<h2>Main Page</h2>
<div class="slideshow">
    <h4>Slideshow here</h4>
</div>
<div class="vert main-content">
    <div class="vert welcome-message">
        <h4>Welcome to Erafore Books!</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, fugit doloremque. Quidem vel optio commodi ea nemo quasi, explicabo nulla, voluptatem possimus consequuntur provident amet eos placeat aliquid. Sint, ipsum.</p>
    </div>
    <div class="vert coming-soon">
        <h4>Coming soon...</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt atque et laudantium earum aliquam? Excepturi quaerat error libero accusamus.</p>
    </div>
    <h4>About the Author</h4>
    <div class="hori about">
        <img src="" alt="Author Portrait">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptatum ratione cupiditate nulla eligendi placeat ad neque. Corporis, magni! Cumque dicta assumenda quidem doloribus harum veritatis aliquam non autem tempore.</p>
    </div>
</div>
{% endblock %}