{% extends 'layout.html' %}
{% load static %}

{% block head %}
Home
{% endblock %}

{% block body %}
{% if not user.is_authenticated %}
    <div class="hori center newsletter-div">
        <div class="hori newsletter-link">
            <i class="far fa-newspaper"></i>
            <nav><a href="{% url 'subscribe_page' %}">Sign up for our newsletter!</a></nav>
        </div>
        <span id="newsletter-close" class="close">&times;</span>
    </div>
{% endif %}
<div class="vert main-content homepage-div">
    <div class="hori center welcome-div">
        <div class="vert center welcome-message">
            <h4>Welcome to Erafore Books!</h4>
            <p style="font-size: 1.2rem;">Here you can find all the information you need about the series, novels and short stories by Ian Rodgers</p>
            <div class="quotes">
                <cite>{{ quote }}</cite>
            </div>
        </div>
        <div class="slideshow hori">
            <picture class="slide-image">
                <source
                    srcset="static/ChroniclesofaRoyalPetAPrincessandanOoze(RoyalOozeChroniclesBook1)_slideshow.avif"
                    type="image/avif">
                <a href="{% url 'book' 1 %}"><img
                        src="static/ChroniclesofaRoyalPetAPrincessandanOoze(RoyalOozeChroniclesBook1)_slideshow.png"
                        alt="Chronicles of a Royal Pet Book 1 Cover" class="slideshow-img"></a>
            </picture>
            <picture class="slide-image">
                <source srcset="static/TheLongRoadofAdventureFlowersontheWayside(Book1)_slideshow.avif"
                    type="image/avif">
                <a href="{% url 'book' 8 %}"><img
                        src="static/TheLongRoadofAdventureFlowersontheWayside(Book1)_slideshow.png"
                        alt="Long Road of Adventure Book 1 Cover" class="slideshow-img"></a>
            </picture>
            <picture class="slide-image">
                <source srcset="static/TheChainedMaidenBoundbyTruth(Book1)_slideshow.avif" type="image/avif">
                <a href="{% url 'book' 13 %}"><img src="static/TheChainedMaidenBoundbyTruth(Book1)_slideshow.png"
                        alt="The Chained Maiden Book 1 Cover" class="slideshow-img"></a>
            </picture>
            <picture class="slide-image">
                <source srcset="static/MyLifeAsAHighSchoolDragonTamerAfterSchoolFantasy(Book1)_slideshow.avif"
                    type="image/avif">
                <a href="{% url 'book' 16 %}"><img
                        src="static/MyLifeAsAHighSchoolDragonTamerAfterSchoolFantasy(Book1)_slideshow.png"
                        alt="After School Fantasy Book 1 Cover" class="slideshow-img"></a>
            </picture>
            <picture class="slide-image">
                <source srcset="static/BehindYourBack_slideshow.avif" type="image/avif">
                <a href="{% url 'book' 25 %}"><img src="static/BehindYourBack_slideshow.png"
                        alt="Behind Your Back Cover" class="slideshow-img"></a>
            </picture>
            <picture class="slide-image">
                <source
                    srcset="static/NotTheEndAnanthologyofshortstoriesandnovellasaboutdeath,ghosts,thesupernaturalandwhathappensafterwards_slideshow.avif"
                    type="image/avif">
                <a href="{% url 'book' 20 %}"><img
                        src="static/NotTheEndAnanthologyofshortstoriesandnovellasaboutdeath,ghosts,thesupernaturalandwhathappensafterwards_slideshow.png"
                        alt="Not the End Anthology" class="slideshow-img"></a>
            </picture>
            <picture class="slide-image">
                <source srcset="static/WelcometotheGalacticShoppersNetwork_slideshow.avif" type="image/avif">
                <a href="{% url 'book' 27 %}"><img src="static/WelcometotheGalacticShoppersNetwork_slideshow.png"
                        alt="Welcome to the Galactic Shoppers Network Cover" class="slideshow-img"></a>
            </picture>
            <picture class="slide-image">
                <source srcset="static/FictionAsStrangeAsRealLife_slideshow.avif" type="image/avif">
                <a href="{% url 'book' 24 %}"><img src="static/FictionAsStrangeAsRealLife_slideshow.png"
                        alt="Fiction as Strange as Real Life Cover" class="slideshow-img"></a>
            </picture>
        </div>
    </div>

    {% if sales %}
    <div class="on-sale center vert homepage-div">
        <div class="homepage-container" style="opacity: 0; transition: opacity 2s;">
            <h4>On Sale Now</h4>
            <div class="sales-div hori center">
                {% for sale in sales %}
                <div class="sale-item vert">
                    <picture>
                        <source srcset="{% static sale.image %}_small.avif" type="image/avif">
                        <a href="{% url 'book' sale.id %}"><img src="{% static sale.image %}_small.jpg"
                                alt="{{ sale.title }} Cover" class="small-img fade-in" loading="lazy"></a>
                    </picture>
                    <p><a href="{% url 'book' sale.id %}">{{ sale.title }}</a></p>
                </div>
                {% endfor %}
            </div>
            <!--Background image attribution: <a href="https://pixabay.com/users/britlish-514330/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3914930">Richard Chalmers</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3914930">Pixabay</a>-->
        </div>
    </div>
    {% endif %}
    <div class="new-release-div center vert homepage-div">
        <div class="homepage-container" style="opacity: 0; transition: opacity 2s;">
            <h4>The Latest Release</h4>
            <div class="hori center">
                <div class="new-release vert">
                    <picture>
                        <source srcset="{% static new_release.image %}_small.avif" type="image/avif">
                        <a href="{% url 'book' new_release.id %}"><img src="{% static new_release.image %}_small.jpg"
                        alt="{{ new_release.title }} Cover" class="new-release-img small-img fade-in" loading="lazy"></a>
                    </picture>
                    <p><a href="{% url 'book' new_release.id %}">{{ new_release.title }}</a></p>
                </div>
            </div>
            <!--Background image attribution: <a href="https://pixabay.com/users/arcaion-2057886/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1729019">Henryk Niestrój</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1729019">Pixabay</a>-->
        </div>
    </div> 
    <div class="vert center homepage-div coming-soon" style="opacity: 0; transition: opacity 2s;">
        <h4>Coming soon...</h4>
        <div class="vert">
            <label for="green-skies">(October) Green Skies Book 1 – A Tree in the Clouds</label>
            <p id="green-skies">A life of freedom and adventure! That’s all Floin of the Squirrel Tribe has ever
                wanted. Traveling across the magical land of Flores in his flying treehouse, he has
                spent his days in quiet and peace.</p>
            <p>His solitude is broken, however, when he ends up rescuing Ruvia, a young lady of
                the Squirrel Tribe, from mysterious Rat Tribe assassins. Caught up in events he
                doesn’t understand, Floin must decide if he will abandon an innocent person to a
                dark fate and resume his ordinary life, or help her by returning to a life he thought
                he’d left behind.</p>
        </div>
        <div class="vert">
            <label for="royal-ooze">(December) Royal Ooze Chronicles Book 8 – Jade Eclipse</label>
            <p id="royal-ooze">Having escaped the Aether with Dora and Gaelin, Jelly is relieved, and eager to
            return to Orria and reunite with his beloved princess. However, that is easier said
            than done, and after drifting for several days across the ocean on an iceberg, Jelly
            and his friends find themselves in Distant Qwan, an exotic land of ancient magic
            and tradition.</p>
            <p>Unaware that their presence has been noticed by their enemies, Jelly, Dora, and
            Gaelin find themselves called by Fate into a series of conflicts that will see them
            drawn towards the legendary Jade Palace, where numerous evils lurk and wait to
            strike, sending the country into chaos and madness.</p>
            <p>The Void is calling. Are Nia’s Chosen Ones ready to face their destiny?</p>
        </div>
    </div>
    <div class="vert homepage-div about" style="opacity: 0; transition: opacity 2s;">
        <h4>About the Author</h4>
        <div class="author-img-div hori">
            <picture>
                <source srcset="{% static 'author_image' %}.avif" type="image/avif">
                <img src="{% static 'author_image' %}.jpg" alt="Author's Portrait" class="author-img" loading="lazy">
            </picture>
            <div class="vert">
                <p> Graduate of George Mason University with a Major in History and a Minor in
                    English, Ian Rodgers has been writing and creating since 4th grade.
                    He has written and self-published 24 stories, including the widely popular “Royal
                    Ooze Chronicles” series.</p>
                <p> When he isn’t writing, Ian is reading or playing table top roleplaying games with
                    friends. He currently lives in Virginia.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", slideshow);
    
    // display sections on scroll
    document.addEventListener("scroll", function() {
        var homeDiv = document.querySelectorAll("h4");
        homeDiv = Array.from(homeDiv).slice(1, 5);
        homeDiv.forEach((div) => {
            var bounding = div.getBoundingClientRect();
            if (
                bounding.top >= 0 &&
                bounding.left >= 0 &&
                bounding.right <= (window.innerWidth || document.documentElement.clientWidth) &&
                (bounding.bottom + 150) <= (window.innerHeight || document.documentElement.clientHeight)
                ) {
                    div.parentElement.style.opacity = 1;
                } 
            else { }
        });
    });
</script>
{% if not user.is_authenticated %}
    <script type="text/javascript">
        document.getElementById("newsletter-close").addEventListener("click", closeBanner);
    </script>
{% endif %}

{% endblock %}