{% extends 'layout.html' %}
{% load static %}

{% block head %}
Books
{% endblock %}

{% block body %}
<h2>Lore</h2>
<div class="series-list">
    <div class="filter-option vert">

        <form action="{% url 'filter_lore' %}" method="POST" id="filter-form" class="filter-form hori">
            {% csrf_token %}
            <input type="text" name="pagenum" value="1" id="pagenum" class="hidden">
            <div class="hori">
                <label for="series">Series</label>
                <select name="series" id="series-filter" style="width:12rem;">
                    <option value="" selected></option>
                    {% for series in series_list %}
                    <option value="{{ series.id }}">{{ series.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="hori">
                <label for="world">World</label>
                <select name="world" id="world-filter" style="width:12rem;">
                    <option value="" selected></option>
                    {% for world in worlds %}
                    <option value="{{ world }}">{{ world }}</option>
                    {% endfor %}
                </select>
            </div>
            <br><div class="hori">
                <label for="type">Type</label>
                <select name="type" id="type-filter" style="width:12rem;">
                    <option value="" selected></option>
                    {% for type in type_list %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="button" id="submit-filter" class="btn btn-primary btn-sm">Filter</button>
        </form>

    </div>
</div>

<div id="selected-series" class="selected-series vert center hidden">
    <div class="hori center" style="align-items: baseline;">
        <label style="font-size: large;" for="series-name">Series:</label>
        <h5 id="series-name"></h5>
    </div>
    <p id="series-description"></p>
</div>

<div id="selected-world" class="selected-world hori center hidden">
    <label style="font-size: large;" for="world-name">World:</label>
    <h5 id="world-name"></h5>
</div>

<div id="selected-type" class="selected-type hori center hidden">
    <label style="font-size: large;" for="type-name">Type:</label>
    <h5 id="type-name"></h5>
</div>

<h5 id="error-message" class="hidden center"></h5>

<div id="clear-filter" class="hidden center">
    <form action="{% url 'lore_page' %}" method="POST" id="clear-filter-form">
        {% csrf_token %}
        <input type="text" name="pagenum" value="1" class="hidden">
        <button type="button" id="clear-filter-btn" class="link-btn">CLEAR FILTER</button>
    </form>
</div>

<p id="stop-scrolling" class="hidden">False</p>

<div id="booklist-container" class="booklist vert container">
    {% for object in lore_data %}
    <div class="book-listing hori fade-in">
        <div class="vert image-div">
            <picture>
                <source srcset="{% static 'placeholder.jpg' %}" type="image/avif">
                <img src="{% static 'placeholder.jpg' %}" alt="{{ object.name }}" class="small-img">
            </picture>
        </div>
        <div class="vert">
            <div class="listing-title hori">
                <p>{{ object.name }}</p>
            </div>
            <div class="hori">
                <label for="object-series-{{ object.name }}">Series:</label>
                {% if object.series == None %}
                    <p id="object-series-{{ object.name }}">Various</p>
                {% else %}
                    <p id="object-series-{{ object.name }}">{{ object.series.name }}</p>   
                {% endif %}                 
            </div>
            <div class="hori">
                <label for="object-world-{{ object.name }}">World:</label>
                <p id="object-world-{{ object.name }}">{{ object.world }}</p>
            </div>
            <div class="hori">
                <label for="object-type-{{ object.name }}">Type:</label>
                <p id="object-type-{{ object.name }}">{{ object.type }}</p>
            </div>
            <div>
                <label for="object-synopsis-{{ object.id }}">Description:</label>
                <p id="object-synopsis-{{ object.id }}" class="synopsis">{{ object.description }}</p>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-sm more-btn">See more</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="spinner-div spinner-results hidden center">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="hori center hidden" id="end-of-results">
    <h5>End of results</h5>
</div>

<script type="text/javascript">
    document.addEventListener("scroll", infiniteScroll);
    document.getElementById("submit-filter").addEventListener("click", displayFilters);
    document.getElementById("clear-filter-btn").addEventListener("click", clearFilters);
    document.querySelectorAll(".more-btn").forEach((button) => {
        button.addEventListener("click", showMore);
    });
    window.addEventListener("beforeunload", function () {
        resetBookFilter("series-filter", "world-filter", "");
    });
</script>

{% endblock %}