{% load static %}
<div style="text-align: center; margin-left: 3rem; margin-right: 3rem;" class="email-body vert">
    <h2 style="background-color: #e6ecfc; border-radius: 3px;">{% if sale %}On Sale from Erafore Books: {% else %}New from Erafore Books: {% endif %}{{ book_title }}</h2>
    <div style="background-color: #e6ecfc; border-radius: 3px; padding: 0.5rem;" class="email-synopsis">
        <a href="{{ amazon_link }}" target="_blank" rel="noreferrer noopener" class="amazon-link">Get it on Amazon</a>
        <p style="text-align: justify;">{{ book_synopsis }}</p>
    </div>
    <div class="email-footer" style="background-color: #e6ecfc; border-radius: 3px;">
        {% if user_account == True %}
            <p style="font-size: smaller; ">You have consented to receive notifications of new book releases from Erafore Books, LLC. 
                You can edit email permissions in your account anytime at <a href="www.eraforebooks.com" target="_blank" rel="noreferrer noopener">www.eraforebooks.com</a>
            </p>
        {% else %}
            <p style="font-size: smaller;">You have consented to receive notifications of new book releases from Erafore Books, LLC.</p>
            <a style="font-size: smaller;" href="http://127.0.0.1:8000{% url 'unsubscribe_page' user_id email passcode %}" target="_blank" rel="noreferrer noopener">Unsubscribe</a>
        {% endif %}
    </div>
</div>
<a href=""></a>
