{% extends 'layout.html' %}
{% load static %}

{% block head %}
Verify Email
{% endblock %}

{% block body %}

<h2>Verify your Email Address</h2>
<p class="center">We have sent an email to the address given. In it, you will see a passcode; enter that in the form below along with your new password and confirmation and press 'Submit'. If it is correct, you will be directed to the login page; if it is not, you will be redirected to the login page to try again.</p>

<div class="registration-content hori">
    <div class="registration-form-div vert">
        <form action="{% url 'verify_reset' %}" method="POST" id="verify-reset-form" class="registration-form vert center">
            {% csrf_token %}
            <input type="text" name="passcode" id="passcode" placeholder="Passcode" autocomplete="off">
            <input type="password" name="password" id="password" autocomplete="off" placeholder="Password">
            <input type="password" name="confirmation" id="confirmation" autocomplete="off" placeholder="Confirmation">
            <button type="button" id="register-btn" class="btn btn-primary btn-sm">Submit</button>
        </form>
        <div class="show-password hori">
            <label id="eye-label" for="eye">Show Password</label>
            <button type="button" id="show" class="password-show-btn">
                <picture>
                    <source srcset="{% static site_images %}show_password.avif" type="image/avif">
                    <img src="{% static site_images %}show_password.jpg" alt="Show Password" id="eye">
                </picture>
            </button>
        </div>
        <h5 class="center" id="error-message"></h5>
    </div>
    <div class="registration-instructions vert">
        <h4>Registration Requirements</h4>
        <ul>
            <li>Usernames must be at least 6 characters long</li>
            <li>Usernames must be unique</li>
            <li>Passwords must be at least 8 characters long</li>
            <li>Passwords must contain at least 1 of each of the following: special character, uppercase letter, number
            </li>
            <li>Your username cannot be the same as your password</li>
        </ul>
    </div>
</div>

<div class="spinner-div hidden center">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<script type="text/javascript">
    document.querySelectorAll("input").forEach((input) => {
        input.addEventListener("keydown", function(keypress) {
            if (keypress.keyCode === 13) {
                event.preventDefault();
            }
        })
    });
    document.getElementById("show").addEventListener("click", showPassword);
    document.getElementById("register-btn").addEventListener("click", verifyRequirementsReset);
</script>

{% endblock %}