{% extends 'layout.html' %}
{% load static %}

{% block head %}
Login
{% endblock %}

{% block body %}

<div class="login-form vert center">
    <h4>Login</h4>
    <form id="login-form" action="{% url 'login' %}" method="POST" class="center hori">
        {% csrf_token %}
        <input type="text" name="username" id="username" autocomplete="off" placeholder="Username">
        <input type="password" name="password" id="password" autocomplete="off" placeholder="Password">
        <button type="button" id="login-btn" class="btn btn-primary btn-sm">Log In</button>
    </form>
    <div class="show-password hori">
        <label id="eye-label" for="eye">Show Password</label>
        <button type="button" id="show" class="password-show-btn">
            <picture>
                <source srcset="{% static site_images %}show_password.avif" type="image/avif">
                <img src="{% static site_images %}show_password.jpg" alt="Show Password" id="eye">
            </picture>
        </button>
    </div>
    
    <div id="error-div" class="error vert center hidden">
        <p id="error-message" class="error-message"></p>
        <h4>Reset Your Password</h4>
        <p>You can reset your password by entering your username and email address in the form below; a code to reset your password will be sent to you</p>
        <div class="forgot-password vert">
            <form action="{% url 'reset' %}" method="POST" id="reset-form" class="hori center">
                {% csrf_token %}
                <input type="text" name="reset-username" id="reset-username" placeholder="Username" autocomplete="off">
                <input type="text" name="email" id="email" placeholder="Email Address" autocomplete="off">
                <button type="button" id="reset-btn" class="btn btn-primary btn-sm">Send Email</button>
            </form>
        </div>
    </div>
</div>

<div class="spinner-div hidden center">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("show").addEventListener("click", showPassword);
    document.getElementById("login-btn").addEventListener("click", submitLogin);
    document.getElementById("reset-btn").addEventListener("click", resetPassword);
</script>

{% endblock %}