{% extends 'layout.html' %}

{% block head %}
Profile
{% endblock %}

{% block body %}
{% if current_user != user %}
<div class="access-denied vert center">
    <h2>Oops!</h2>
    <h4>It looks like you do not have permission to access this page.</h4>
    <h4>Click here to go back:</h4>
    <button id="back-btn" class="btn btn-primary btn-sm">Go Back</button>
</div>
<script type="text/javascript">
    document.getElementById("back-btn").addEventListener("click", goBack);
</script>
{% else %}
<h2>User Profile for {{ current_user.username }}</h2>
<div class="profile-container hori fade-in">
    <div class="lists-container hori">

        <div id="wishlist-div" class="wishlist vert">
            <h4>Wishlist</h4>
            {% if wishlist %}
            <ul id="wishlist-ul">
                {% for wish in wishlist %}
                <li id="wish-element-{{ wish.book.id }}" class="wishlist-element">
                    <label for="wishlist-form-{{ wish.book.id }}">></label>
                    <a href="{% url 'book' wish.book.id %}">{{ wish.book.title }}</a>
                    <form action="{% url 'add' wish.book.id %}" method="POST" id="wishlist-form-{{ wish.book.id }}"
                        class="{{ wish.book.id }}">
                        {% csrf_token %}
                        <input type="text" name="page" value="profile" class="hidden">
                        <button type="button" id="wish-btn-{{ wish.book.id }}"
                        class="wishlist-btn btn btn-primary btn-sm">Remove</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p id="no-books">You have no books yet in your wishlist</p>
            {% endif %}
        </div>

        <div id="follow-div" class="following vert">
            <h4>Series Followed</h4>
            {% if series_followed %}
            <ul id="follow-ul">
                {% for series in series_followed %}
                <li id="follow-element-{{ series.series.id }}" class="follow-element">
                    <label for="follow-form-{{ series.series.id }}">></label>
                    <a href="{% url 'all_books' series.series.id %}">{{ series.series.name }}</a>
                    <form action="{% url 'follow' series.series.id %}" method="POST" id="follow-form-{{ series.series.id }}"
                        class="{{ series.series.id }}">
                        {% csrf_token %}
                        <input type="text" name="page" value="profile" class="hidden">
                        <button type="button" id="follow-btn-{{ series.series.id }}"
                            class="follow-btn btn btn-primary btn-sm">Unfollow</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p id="no-series">You are not following any series right now</p>
            {% endif %}
        </div>
    </div>

    <div class="user-info vert">
        <div class="vert" id="edit-div">
            <form action="{% url 'edit' %}" method="POST" id="edit-preference-form" class="hidden hidden-content">
                {% csrf_token %}
                <div class="hori checkbox-option">
                    <input type="checkbox" name="new-books" id="new-books" class="checkbox" value="true" 
                    {% if current_user.can_send_new %} checked="true" {%endif %}>
                    <label for="new-books">We can notify you when new books are released</label>
                </div>
                <div class="hori checkbox-option">
                    <input type="checkbox" name="follow-updates" id="follow-updates" class="checkbox" value="true" 
                    {% if current_user.can_send_updates %} checked="true" {% endif %}>
                    <label for="follow-updates">We can notify you when series you follow are updated</label>
                </div>
                <div class="hori checkbox-option">
                    <input type="checkbox" name="sales" id="sales" class="checkbox" value="true" 
                    {% if current_user.can_send_sales %} checked="true" {% endif %}>
                    <label for="sales">We can notify you of all sales</label>
                </div>
                <div class="hori checkbox-option">
                    <input type="checkbox" name="wish-sales" id="wish-sales" class="checkbox" value="true" 
                    {% if current_user.can_send_wish_sales %} checked="true" {% endif%}>
                    <label for="wish-sales">We can notify you when books on your wishlist go on sale</label>
                </div>
                <div class="hori checkbox-option">
                    <input type="checkbox" name="all-notifications" id="all-notifications">
                    <label for="all-notifications">Disable all email notifications</label>
                </div>
                <div class="hori" style="align-items: baseline;">
                    <button type="button" id="edit-btn" class="btn btn-primary btn-sm">Update Preferences</button>
                    <p id="save-message"></p>
                </div>
            </form>
            <button id="show-preference-form" class="btn btn-primary btn-sm show-btn">Change Email Preferences</button>
        </div>
    
        <div class="vert hidden hidden-content" id="delete-account-div">
            <div id="deletion-message vert">
                <p>This will delete your username, password, and email in our system, as well as delete your wishlist
                    and un-follow all series. This action cannot be undone.</p>
                <p>Are you sure you want to delete your account?</p>
            </div>
            <form id="delete-account-form" action="{% url 'delete' current_user.id %}" method="POST">
                {% csrf_token %}
                <input type="password" name="password" id="delete-password" autocomplete="off" placeholder="Password">
                <input type="password" name="confirmation" id="confirmation" autocomplete="off" placeholder="Confirmation"><br>
                <button type="button" id="delete-account-btn" class="btn btn-primary btn-sm">Delete Account</button>
            </form>
            <p id="delete-error-message"></p>
        </div>
        <button id="show-delete-account-btn" class="btn btn-primary btn-sm show-btn">Delete Account</button>
    </div>

</div>
{% endif %}

<script type="text/javascript">
    document.querySelectorAll(".show-btn").forEach((button) => {
        button.addEventListener("click", showContent);
    });
    document.getElementById("all-notifications").addEventListener("change", uncheckAll);
    document.getElementById("edit-btn").addEventListener("click", editPreferences);
    document.getElementById("delete-account-btn").addEventListener("click", deleteAccount);
    document.querySelectorAll(".wishlist-btn").forEach((button) => {
        button.addEventListener("click", wishlistFunc);
    });
    document.querySelectorAll(".follow-btn").forEach((button) => {
        button.addEventListener("click", followFunc);
    });
</script>


{% endblock %}