html {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

.dim {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: gray;
    opacity: 50%;
}

.vert {
    display: flex;
    flex-direction: column;
}

.hori {
    display: flex;
    flex-direction: row;
}

.center {
    text-align: center;
    justify-content: center;
}

h4, h2 {
    text-align: center;
}

label {
    font-weight: bold;
    margin-right: 0.5rem;
}

select, input {
    margin-right: 0.5rem;
}

.hidden {
    display: none;
}

.show-password {
    padding: 1rem;
    justify-content: center;
}

#eye {
    padding-bottom: 3px;
}

.small-img {
    max-width: 150px;
    max-height: 200px;
}

.medium-img {
    max-width: 250px;
    max-height: 400px;
}


/* HEADER */

.navbar {
    padding: 0.5rem 6rem;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* BODY */

main {
    margin: 0.5rem 1rem;
}

/* Home Page */

.sale-item {
    width: 25%;
    padding: 2px;
    border: 1px solid grey;
    align-items: center;
}
.sale-item p {
    margin-bottom: 0;
}

/* Books */

.filter-option {
    align-items: center;
    margin-bottom: 1rem;
}

.filter-form {
    flex-wrap: wrap;
    align-content: space-between;
}

.title-div {
    width: 25%;
    margin-right: max(2rem, 15px);
    max-width: 200px;
    min-width: 150px;
}

.on-sale-now {
    background-color: goldenrod;
}


/* Individual Books */

.book-div {
    max-width: fit-content;
    margin-right: max(2rem, 15px);
}

.large-img {
    max-height: 120vh;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto; 
    padding: 10px;
    border: 1px solid #888;
    width: fit-content; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Lore */


/* Login */


/* Registration */

.registration-content {
    width: 100%;
}

.registration-instructions {
    margin-right: 3rem;
}

.registration-instructions .registration-form {
    flex: 1;
}

/* Contact */

.social-media {
    display: table;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.social-media li {
    list-style: none;
}

/* Profile */

.checkbox-option {
    align-items: baseline;
}

.user-info {
    width: 40%;
}

/* Search Results */


/* FOOTER */


