html {
    min-height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom right, #9900d1, #420259);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    color: white;
}

a:hover {
    color: #dbdbdb;
    text-decoration: none;
}

.dim {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.vert {
    display: flex;
    flex-direction: column;
}

.hori {
    display: flex;
    flex-direction: row;
}

.center {
    text-align: center;
    justify-content: center;
}

h4, h2 {
    text-align: center;
}

label {
    font-weight: bold;
    margin-right: 0.5rem;
}

select, input {
    margin-right: 0.5rem;
}

.hidden {
    display: none;
}

.show-password {
    padding: 1rem;
    justify-content: center;
}

#eye {
    padding-bottom: 6px;
}

.password-show-btn {
    height: 1.7rem;
    background-color: white;
    border: solid 1px #404040;
    border-radius: 2px;
}

img {
    
}

.small-img {
    width: 200px;
    height: 300px;
}

.medium-img {
    width: 300px;
    height: 400px;
}

.author-img {
    height: 100px;
    width: 100px;
}

.link-btn {
    border: none;
    background-color: transparent;
    color: #dbdbdb;
    margin-bottom: 0.5rem;
}

.link-btn:hover {
    color: white;
    text-decoration: underline;
}

#submit-filter {
    margin-bottom: 0.2rem;
}

.btn-sm {
    background-color: #563d7c;
    border: 1px solid white;
}

.btn-primary:hover {
    background-color: #7150a3;
    border-color: white;
}

.btn:active, .btn:focus {
    background-color: #6a42a8 !important;
    border-color: white !important;
    box-shadow: 0 0 0 0.2rem white !important;
}

.fas, .fab {
    margin-right: 0.2rem;
}

.audio {
    align-items: baseline;
}

.fa-headphones {
    margin-left: 1rem;
}

.audio .fa-headphones {
    margin-left: 0 !important;
}

.tooltip-text {
    display: none;
    position: absolute;
    width: fit-content;
    padding: 4px;
    text-align: center;
    border: none;
    z-index: 99;
    background-color: #6a42a8;
    color: white;
    box-shadow: 0px 0.2rem 0.2rem 3px rgba(41, 19, 48, 0.5);
    border-radius: 4px;
}

.book-listing h5:hover .tooltip-text {
    display: block !important;
}

.return-btn {
    z-index: 99;
    position: fixed;
    font-size: large;
    border: none;
    padding: 1rem;
    bottom: 30px;
    right: 30px;
    box-shadow: 0px 0.2rem 0.2rem 3px rgba(41, 19, 48, 0.5);
}

.spinner-div {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;
}

.spinner-border {
    z-index: 99;
}

/* HEADER */

header {
    width: 100%;
}

.logo-area {
    width: 20%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.navbar {
    justify-content: space-evenly;
    /*border-top: solid 1px;
    border-bottom: solid 1px;*/
    width: 80%;
}

.navbar div {
    align-items: baseline;
}

/* BODY */

main {
    margin: 0.5rem 1rem;
}

/* Home Page */

.welcome-div {
    width: 100%;
    margin-bottom: 2rem;
}

.welcome-message {
    padding-right: 6rem;
    width: 60%;
}

.welcome-message h4 {
    margin-bottom: 2rem;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.welcome-message p {
    position: relative;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.slide-image {
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.slideshow-img {
    width: 400px;
    height: 400px;
}

.sale-item {
    width: 25%;
    padding: 2px;
    align-items: center;
}

.sale-item p {
    margin-bottom: 0;
}

.homepage-div {
    margin-bottom: 1rem;
    width: 100%;
}

.homepage-div img {
    padding: 0.2rem;
}

.about {
    padding-left: 10%;
    padding-right: 10%;
}

.about picture {
    margin-right: 1rem;
}

.slideshow {
    margin-top: 3%;
}

/* Books */

.filter-option {
    align-items: center;
    margin-bottom: 1rem;
}

.filter-form {
    flex-wrap: wrap;
    align-content: space-between;
}

.filter-form select {
    margin-bottom: 0.2rem;
}

.image-div {
    width: 40%;
    margin-right: max(2rem, 25px);
    max-width: 300px;
    min-width: 225px;

}

.image-div img {
    padding: 0.2rem;
    background-color: grey;
}

.book-listing {
    background-color: white;
    color: black;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.book-listing a {
    color: #007bff;
}

.book-listing a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.synopsis {
    max-height: 75px;
    overflow: hidden;
    margin-bottom: 0;
    transition: max-height 0.2s ease-out;
}

.on-sale-now {
    background-color: goldenrod;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* Individual Books */

.listing {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.series-div {
    align-items: baseline;
}

#book-series {
    padding-right: 0.2rem;
}

#follow-btn, #wish-btn, .more-btn {
    color: #007bff;
    padding-left: 0;
}

#follow-btn:hover, #wish-btn:hover, .more-btn:hover {
    color: #0056b3;
    text-decoration: underline;
}

#amazon-link {
    color: #007bff;
}

#amazon-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.book-div {
    max-width: fit-content;
    margin-right: max(2rem, 15px);
}

.book-div img {
    padding: 0.2rem;
    background-color: grey;
}

.large-img {
    max-height: 120vh;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto; 
    padding: 10px;
    border: 1px solid #888;
    width: fit-content; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#series-divider {
    margin-left: 0.2rem;
    margin-right: 0.3rem;
}

/* Lore */


/* Login + Logout */

.login-form, .logout-confirm {
    margin-top: 5%;
}

/* Registration */

.registration-content {
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.registration-instructions {
    margin-left: 2rem;
}

.registration-instructions .registration-form {
    flex: 1;
}

.registration-form-div {
    width: 60%;
}

.registration-form input {
    margin-bottom: 0.5rem;
}

.registration-form button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

/* Contact */

.social-media {
    display: table;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.social-media li {
    list-style: none;
}

.social-media li div {
    align-items: baseline;
}

/* Profile */

.profile-container {
    margin-top: 2rem;
    width: 100%;
    justify-content: space-evenly;
}

.checkbox-option {
    align-items: baseline;
}

#wishlist-div, #follow-div {
    width: 35%;
}

#no-series, #no-books {
    text-align: center;
}

.user-info {
    width: 30%;
}

.user-info #edit-div {
    margin-bottom: 0.2rem;
}

#delete-account-btn {
    margin-top: 0.2rem;
}

.hidden-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

#edit-btn {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.follow-element p {
    margin-bottom: 0;
}

/* Search Results */

.search-results {
    width: 100%;
}

.search-results ul {
    width: 50%;
    margin-left: 25%;
}

.search-results li {
    list-style: none;
    margin-bottom: 0.4rem;
}

/* FOOTER */

footer {
    background-color: #2c0069;
    min-height: 50px;
    margin-top: auto;
}

footer p {
    margin-bottom: 0.2rem;
}

footer div {
    align-items: baseline;
    justify-content: center;
}

footer div p {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
