{% extends 'layout.html' %}

{% block head %}
Profile
{% endblock %}

{% block body %}
<h2>User Profile for {{ current_user.username }}</h2>
<div class="container hori">
    <div class="user-info vert">
        <!-- need to rethink this section; use with EmailApp -->
        <div class="vert">
            <form id="reset-pwd" action="{% url 'reset' current_user.id %}" method="POST" hidden>
                {% csrf_token %}
                <input type="password" name="current-pwd" id="current-pwd" autocomplete="off" placeholder="Current Password">
                <input type="password" name="new-pwd" id="new-pwd" autocomplete="off" placeholder="New Password">
                <button type="submit">Reset Password</button>
            </form>
            <!-- use JS to show form when button below is clicked; also, change button text below to 'Cancel' -->
            <button id="reset-pwd-btn">Reset Password</button>
            <!-- use AJAX for this part -->
            {% if reset_error != "" %}
                <p>{{ reset_error }}</p>
            {% endif %}
        </div>

        <!-- rethink whether I need this one at all -->
        <div class="vert">
            <div class="hori" id="change_address">
                <label for="email-address">Email Address:</label>
                <p id="email-address">{{ current_user.email_address }}</p>
            </div>
            <form id="change-email" action="{% url 'change_email' current_user.id %}" method="POST" hidden>
                {% csrf_token %}
                <input type="text" name="current-email" id="current-email" autocomplete="off"
                    placeholder="{{ current_user.email_address }}">
                <button type="submit">Change Email</button>
            </form>
            <!-- use JS to show form and hide p tag when button is clicked; also, change button text below to 'Cancel' -->
            <button id="change-email-btn">Change Email Address</button>
            <!-- use AJAX for this part -->
            {% if change_error != "" %}
                <p>{{ change_error }}</p>
            {% endif %}
        </div>

        <div class="vert">
            <!-- use JS to show form when button below is clicked; also, change button text below to 'Cancel' -->
            <form action="{% url 'edit' %}" method="POST" hidden>
                <input type="radio" name="sales" id="sales" checked="{{ current_user.can_send_sales }}">
                <label for="sales"></label><br>
                <input type="radio" name="follow-updates" id="follow-updates" checked="{{ current_user.can_send_updates }}">
                <label for="follow-updates"></label><br>
                <button type="submit" id="edit-btn">Change Preferences</button>
            </form>
            <button id="show-preference-form">Change Email Preferences</button>
        </div>
        
        <div class="vert">
            <div id="deletion-message vert" hidden>
                <p>This will delete your username, password, and email in our system, as well as delete your wishlist and un-follow all series. This action cannot be undone.</p>
                <p>Are you sure you want to delete your account?</p>
            </div>
            <form id="delete-account-form" action="{% url 'delete' current_user.id %}" method="POST" hidden> 
                {% csrf_token %}
                <input type="password" name="password" id="delete-password" autocomplete="off" placeholder="Enter Password to Delete">
                <button type="submit">Delete Account</button>
            </form>
            <!-- use JS to show form and deletion message, and change button text below to 'Cancel'; show popup to confirm user choice -->
            <button id="delete-account-btn">Delete Account</button>
            <!-- use AJAX for this part -->
            {% if delete_error != "" %}
                <p>{{ delete_error }}</p>
            {% endif %}
        </div>
    
    </div>

    <div class="wishlist vert">
        <h4>Wishlist</h4>
        {% if wishlist %}
            <ul>
            {% for wish in wishlist %}
                <li><a href="{% url 'book' wish.book.id %}">{{ wish.book.title }}</a>
                    <form action="{% url 'add' wish.book.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" id="wish-btn-{{ wish.book.id }}">Remove</button>
                    </form>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You have no books yet in your wishlist</p>
        {% endif %}
    </div>

    <div class="following vert">
        <h4>Series Followed</h4>
        {% if series_followed %}
            <ul>
            {% for series in series_followed %}
                <li>{{ series.series.name }}
                    <form action="{% url 'follow' follow.series.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" id="follow-btn-{{ follow.series.id }}">Unfollow</button>
                    </form>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You are not following any series right now</p>
        {% endif %}
    </div>

</div>
{% endblock %}